{# this file takes data stored in a variable "csvfile" from a csv file and converts into yml format for use in the playbook #}
---
devices:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}

  - router: 
      hostname: '{{ list[0]|trim()|upper }}'
      name_server_1: '{{ list[1]|trim() }}'
      name_server_2: '{{ list[2]|trim() }}'
      username: '{{ list[3]|trim() }}'
      secret: '{{ list[4]|trim() }}'
      loopback0_IP: '{{ list[5]|trim() }}'
      loopback0_netmask: '{{ list[6]|trim() }}'
      tunnel_interface: '{{ list[7]|trim() }}'
{%   endif %}
{% endfor %}
