
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname {{ item.router.hostname|upper }}
!
aaa new-model
!
aaa authentication login default local
aaa authentication enable default none
aaa authorization exec default local
!
ip name-server {{ item.router.name_server_1 }} {{ item.router.name_server_2 }}
!
login on-success log
!
spanning-tree extend system-id
!
username ec2-user privilege 15
username {{ item.router.username }} privilege 15 secret {{ item.router.secret }}
!
interface Loopback0
 description Loopback0
 ip address {{ item.router.loopback0_IP }} {{ item.router.loopback0_netmask }}
!
interface {{ item.router.tunnel_interface }}
 description {{ item.router.tunnel_interface_description }}
 ip address {{ item.router.tunnel_interface_IP }} {{ item.router.tunnel_interface_netmask }}
 tunnel source {{ item.router.tunnel_source }}
 tunnel destination {{ item.router.tunnel_destination }}
!
interface GigabitEthernet1
 description {{ item.router.interface_gigabitethernet1_description }}
 ip address {{ item.router.interface_gigabitethernet1_ipaddress }}
 negotiation auto
!
interface GigabitEthernet2
 description {{ item.router.interface_gigabitethernet2_description }}
 ip address {{ item.router.interface_gigabitethernet2_ipaddress }}
 negotiation auto
!
router ospf {{ item.router.ospf_process_ID }}
 router-id {{ item.router.ospf_router_ID }}
 network {{ item.router.ospf_network }} area {{item.router.ospf_area }}
!
ip forward-protocol nd
ip tcp window-size 8192
ip http server
ip http authentication local
ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 GigabitEthernet1 10.1.0.1
ip ssh rsa keypair-name ssh-key
ip ssh version 2
ip scp server enable
!
snmp-server community popcorn RO
snmp-server community caramelpopcorn RW
!
banner motd ^C {{ item.router.banner_motd }} ^C
!
line con 0
 stopbits 1
line vty 0 4
 login local
 transport input ssh
line vty 5 20
 login local
 transport input ssh
